#categories_container
{
	width: 780px;
	height: 440px;
	background-color: white;
	box-shadow: 0px 1px 0.99px 0.01px rgba(0, 0, 0, 0.35);
	margin: auto;
	border-radius: 2px;
	text-align: center;
	margin-top: 20px; /*to be removed*/
}
.categories_style
{
	display: inline-block;
	margin-right: 0;
	border-radius: 2px;
	background-color: #317399;
	color:  white;
	box-shadow: 0px 1px 0.99px 0.01px rgba(0, 0, 0, 0.35);
	padding: 4px 9px;
	cursor: pointer;
	margin-top: 20px;

}
.group_container
{
	display: inline-block;
	text-align: left;
	margin: 0px 7px 0px 7px;
}
.sub_categories_style
{
	font-family: 'brandon_regular';


}