@font-face
{
	font-family: 'brandon_medium';
	src:url('font/Brandon Grotesque Medium.woff');
	
}
@font-face
{
	font-family: 'brandon_regular';
	src:url('font/Brandon Grotesque Regular.woff');
	
}
@font-face
{
	font-family: 'brandon_black_italic';
	src:url('font/Brandon Grotesque Black Italic.woff');
	
}
body
{
	font-family: 'brandon_medium';
	background-color:#f4f4f4;
	color: #545454;
	margin:0;
}
input
{
	font-family: 'brandon_regular';
	font-size:17px;
}

